<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdroidapps.mathster">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- GCM Permissions -->
    <!--  <uses-permission android:name="android.permission.WAKE_LOCK" />
  -->
    <permission
        android:name="com.appdroidapps.mathster.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.appdroidapps.mathster.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- GCM Start -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.appdroidapps.mathster" />
            </intent-filter>
        </receiver>


        <!-- GCM End -->

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Main1" />
        <activity
            android:name=".activities.MnMActivity"
            android:label="Main" />
        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.clevertap.android.sdk.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.appdroidapps.mathster" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="867-4WK-844Z" />

        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="304-a6b" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/google_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="GCM_SENDER_ID"
            android:value="@string/clever_tap_sender_id" />

        <activity android:name=".activities.ScoreActivity" />
        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="ScoreActivity,MnMActivity"/>


    </application>

</manifest>
